* {
    box-sizing: border-box;
    font-family: Arial, 微軟正黑體;
}

html{
    scroll-behavior: smooth;
    position: relative;
      height: 100%;
}

body {
    margin: 0;
    position: relative;
      height: 100%;
}

#navbar {
    width: 100%;
    height: 50px;
    display:flex;
    margin: auto;
    background-color:rgba(255,211,38,0.9);
}

#navbar .btn {
    font-size: 16px;
}

.btngro {
    margin: auto;
    display: flex;
}

.btn {
    color: black;
    margin: 0 10px;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
}

.btn:hover > span {
    opacity: 0;
    transform: translate(0px, -40px);
}

.btn::after {
    content: attr(data-text);
    position: absolute;
    color: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translate(0, 30%);
    transition: all 0.3s;
}

.btn:hover::after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

img {
    width: 100%;
}

h1 {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 45px;
    letter-spacing: 3px;

    @media(max-width:576px){
        font-size: 40px;
        
    }
}

.philosophy p {
    /* font-weight: 500; */
    letter-spacing: 2px;
    line-height: 35px;
    font-size: 20px;
}

    
@media(max-width:375px){
    .philosophy{
    padding: 0 10px;
}
    .philosophy p{
        line-height: 30px;
        letter-spacing: 1px;
        font-size: 16px;
    }

}

p {
    /* font-weight: 500; */
    letter-spacing: 2px;
    line-height: 20px;
    font-size: 20px;
    line-height: 35px;
}
.about{
    background-image: url("img/恰克pic.png");
    background-position: center;
}
.foreignex {
    display: flex;
    width: 100%;
    height: 70vh;
    background-image: url("img/foreign-exchange.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.foreignex p{
    text-align: justify;
    // letter-spacing: 1px;
}

// 優勢與特質
.swiper-container .swiper-container-movie .img{
    width: 570px;
    height: 275px;
}

// .movie{
//     width: 570px;
//     height: 275px;
//     background-image: url(/img/0810-01.png);
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
// }
// .swiper-container-movie {
//     width: 100%;
//     height: 100%;
//   }

//   .swiper-pagination .swiper-pagination-movie .swiper-pagination-clickable .swiper-pagination-bullets{
//       margin-bottom: 20px;
//   }

.advantage{
    width: 100%;
    // height: 100vh;
    background-image: url("img/優勢與特質-04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

h2 {
    color: rgb(49, 126, 194);
    font-weight: 600;
}

.tittle {
    padding-top: 75px;
    padding-bottom: 30px;
}

.advantage h1 {
    margin-bottom: 0px;
    font-weight: 600;
}

.advantage p {
    text-align: justify;
}

.offline {
    width: 100%;
    height: unset;
    background-color: #e4e54c;
    // background-image: url(./img/課程介紹10121_工作區域\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;

}
.offline p{
    text-align: justify;
}

.course {
    width: 100%;
    background-color: #c9e8f2;
}

/* swiper */
html,
body {
    position: relative;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;

    align-items: center;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 37%;
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size)/ 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}

.signup {
    display: flex;
    width: 100%;
    height: 80vh;
    background-image: url("img/馬上報名-1012-01.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.signup p{
    text-align: justify;
}

.footer {
    width: 100%;
    background-color: #122e8a;
    color: white;
    text-align: center;
}

.icon_Group {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 55px;
}

.iconfb {
    width: 65px;
    height: 65px;
    background-image: url("img/fb-01.svg");
    border: white 1.5px solid;
    border-radius: 50%;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

// .iconfb,
// .iconig,
// .iconmail {
//     &:hover {
//          opacity: 0.9;
//      }
//  }

.iconfb,
.iconig,
.iconmail {
    &:hover {
    border: #e4e54c 2px solid;
    }
}

.iconig {
    width: 65px;
    height: 65px;
    background-image: url("img/ig-01.svg");
    border: white 1.5px solid;
    border-radius: 50%;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 20px;
}

.iconmail {
    width: 65px;
    height: 65px;
    background-image: url("img/mail-01.svg");
    border: white 1.5px solid;
    border-radius: 50%;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

.Declare {
    padding-bottom: 20px;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.goback{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    // background-color:white;
    color: rgb(49, 126, 194);
    border: 1px solid rgb(49, 126, 194);
    text-align: center;
    line-height: 65px;
    font-size: 20px;
    position: fixed;
    right: 40px;
    bottom: 50px;
    z-index: 10;
}

.goback:hover{
    color:white;
    background-color:rgba(49, 126, 194, 0.4);
    transition: 1s;
}

// 假錨點
#point1,
#point2,
#point3,
#point4,
#point5
{
    position: relative;
}
.fake-anchor{
    position: absolute;
    top:-50px;
    left: 0;
}

#banner {
    width: 100%;
    height: 950px;
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.swiper-container-mobile{
    display:none;

}



@media(max-width:768px){
    .advantage {
        width: 100%;
        height: 100vh;
        background-image: url("img/優勢與特質-04.jpg");
        background-repeat: no-repeat;
        background-position:center ;
        background-size: cover;
        background-attachment: fixed;
}
        #banner{
            width: 100%;
            height: 85vh;
    }

    .offline{
        height: unset;
        padding-bottom: 20px;
    }
        
   .swiper-container{
            display:none;
            padding-bottom: 50px;

            
        }
        .swiper-container-mobile{
            display:block;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 85%;
    }

}

@media(max-width:375px){
    
   .swiper-container{
            display:none;
            padding-bottom: 50px;

            
        }
        .swiper-container-mobile{
            display:block;
    }

    .swiper-button-next, .swiper-button-prev {
        top: 85%;
    }

}

@media(max-width:375px){
.icon_Group {
    padding: 15px;
    }

.Declare {
        padding-bottom: 10px;
        font-size: 14px;
    }
.iconfb,
.iconig,
.iconmail{
        width: 45px;
        height: 45px;
    }
}

// 優勢與特質 影片

// .movie{
//     width: 570px;
//     height: 275px;
//     background-image: url(/img/0810-01.png);
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
// }


//   .swiper-pagination .swiper-pagination-movie .swiper-pagination-clickable .swiper-pagination-bullets{
//       margin-bottom: 20px;
//   }

.pic_box{
    width: 570px;
    background-color: white;
}

.showcase{
    width: 570px;
    height: 275px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 50px;
}

// .showcase:hover::before {
//         z-index: 2;
//         background: linear-gradient(180deg,rgba(46,46,46,0),rgba(0,0,0,.5));
// }

.mask{
    background-color: black;
    opacity: 1;
}

.mask:hover{
    opacity: 0.9;
}

.img1 {
    background-image: url("img/0810-01.png");
}


.img2 {
    background-image: url("img/0811-01.png");
}

.img3 {
    background-image: url("img/0812-01.png");
}

.img4 {
    background-image: url("img/0813-01.png");
}

.img5 {
    background-image: url("img/0814-01.png");
}

.play{
    width: 80px;
    height:80px;
    background-image: url("img/播放icon-new-01.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}

.swiper-container-movie {
    width: 100%;
    height: 100%;
  }

  .swiper-slide-movie {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active:root {
    --swiper-theme-color:gray;
}